 
body {      
                /* Step 2: font */             
     font-family: 'Optima', sans-serif;
                /* Step 3: body */
     background-color: #000000;
     color: #D1D1D8;
    }   

h1 {
        /* Step 4: H1 */
    color: #215FD1;
    font-size: 2.5rem;
}

        /* Step 5: page title */
#page-title {
    background-color: #233F63;
    color:#53D4E0;
    padding: 30px;
}

        /* Step 6: h2 and h3 */
h2, h3 {
    color: #1EA314;
}

        /* Step 7: .note */
.note {
    padding: 10px;
    background-color: rgba(0, 117, 215, 0.3);
}
        /* Step 8: p.highlight */
p.highlight {
    background-color: #250E75;
}

        /* Step 9: Button RGB */
.btn {
    padding: 10px;
    font-size: 25px;
    border: 20px;
}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: blue;
}

.btn-green {
    background-color: green;
}

        /* Step 10: .box */
.box {
    width: 100px;
    height: 100px; 
    padding: 20px; 
    margin: 50px;
    border: 10px solid black;
    background-color: #47AD59 ;
}

